.login_btn {
    text-align: center;
    margin-left: 2em;
    margin-top: 2em;
    border-width: 2px;
    border: solid black;
    display: inline-block;
    background-color: antiquewhite;
    padding: 10px;
}

.entryHandler {
    display: flex;
    background-color: rgb(227, 227, 232);       /*To help see it*/
    justify-content: space-evenly;
}

.progressbar{
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 35px;
	border-radius: 5px;
	background-color: #bfbfbf;
}

.progressPercent{
	font-weight: 600;
	/* font-family:'Franklin Gothic Medium'; */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #000000;
	/* text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555; */
}

.btn{
	display: block;
	margin: 5rem auto;
	border: none;
	border-radius: 3px;     
	outline: none;
	width: 100px;
	height: 40px;
	background-color: #907e94;
	transition: box-shadow 0.5s;
	font-size: 16px;
	font-family:arial;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	-webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
    box-shadow: inset 100px 0 0 0 #7c54d1;
}