/* The only line that I have changes is padding on .column*/
.column{
    position: static;
    margin: 0px 25% 0px 25%;

    width: 50%;
    height: 125%;
    background-color: aliceblue;
    padding: 20px 20px 50px 20px;
}

.LoginPageContainer {
    height: 20%;
    text-align: center;
}

.mainPage{
    width: 100%;
}
.LoginPage {
    width: 100svw;
    height: 100svh;
    display: flex;
    
}

.sidebar_container {
    width: auto;
    height: auto;       /*Was 100% originally*/
    background-color: aquamarine;
    z-index: -1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.sidebar_on {
    width: 20%;
}

.sidebar_off {
    width: 0%;
}

.sidebar_header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.sidebar_items {
    margin-left: 10px;
    padding-block: 0.5rem;
}

.sidebar_toggle_btn {
    position: fixed;
    top: 2rem;
    right: 3rem;
    background: transparent;
    background-color: hsl(205, 71%, 74%);
}

.logout_btn {
    position: fixed;
    top: 4rem;
    right: 3rem;
    background: transparent;
    background-color: hsl(0, 84%, 75%);
}

/* Below this comment is the code that I have made -Chris*/

.biggestText{
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.login_btn {
    border-width: thin;
    border-color: rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    background-color: red;
    color: darkgray;
    font-weight: bold;
    border-radius: 5px;
    margin: 0% 0% 0% 0%;
}
.login_btn:hover{
    font-weight: bold;
    background-color: rgb(184, 190, 194);
    color: rgb(45, 45, 45);
    transition: 00.75s;
}

/* Added border color, radius and width */

.input_box{
    border-width: thin;
    border-color: rgb(225, 232, 235);
    border-radius: 5px;
    width: 100%
}